.english-number{
  font-family: 'IranYekan', 'IRANSans';
}
.alert-circle {
  background: rgba(255, 153, 0, 0.5);
  height: 96px;
  width: 96px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.border-box {
  border-color: $alertBorderColor;
}
.w-100 {
  width: 100%;
}

.counts-boxes {
  width: 25vw;
  padding: 10px;
  text-align: center;
  height: 100px;
  border-radius: 5px;
  &.redbg{
    background-color: #ffbbb6 !important;
  }
  &.greenbg{
    background-color: #8be68f !important;
  }
  &.bluebg{
    background-color: #c5e5ff !important;
  }
}
