.english-number{
  font-family: 'IranYekan', 'IRANSans';
}
.alert-circle {
  background: rgba(255, 153, 0, 0.5);
  height: 96px;
  width: 96px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.border-box {
  border-color: $alertBorderColor;
}
.w-100 {
  width: 100%;
}

.counts-boxes {
  min-width: 300px;
  color: #FDFFFF;
  height: 160px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  &.add {
    border: 2px solid #3d6157;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      color: #5a5a5a !important;
    }
  }
  img {
    height: 100px;
    opacity: 0.3;
  }
  h5 {
    position: absolute;
    bottom: 10px;
  }
  &.redbg{
    background: #e84c3d;
    border: 2px solid #ea2525;
  }
  &.greenbg{
    background: #1abc9c;
    border: 2px solid #3d6157;
  }
  &.bluebg{
    background: #3598db;
    border: 2px solid #25aaea;
  }
}

@media screen and (max-width: 414px ) {
.w-sm-100 {
  width: 100%;
}
}
